/* the hole block */

.bigBlock{
  width: 60%;
  margin: auto;
  margin-top: 5%;

}

/* left side */


.list-group{
  width: 40%;
  top: 5%;
  left: 10%;
  position: absolute;
}


.margin-Right{
  margin-right: auto;
}

.chat-Member{
  width: 100%;
}

/* left side */

.text-box{
  width: 40%;
  top: 5%;
  left: 46%;
  position: absolute;
}

img {
  border-radius: 50%;
}

.chatContainer_img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}


.chatContainer {
  border: 2px solid #dedede;
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #D3D3D3;
}

.chatContainer img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.chatContainer img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
