
*{
   color: rgba(241, 239, 239, 0.94);
   font-family: system-ui;}

/*Places the text in the center of the page*/
.middlePosition{
   text-align: center;
   align-self: center;
}

.login-box {
   width: 300px;
   background-color: rgba(12, 12, 12, 0.66);
   padding: 20px;
   margin: 100px auto auto;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.marginSmall{
   margin-bottom: 2%;
}

.marginMedium{
   margin-bottom: 7%;
}

.marginBig{
   margin-bottom: 10%;
}

.background{
   background-image: url("background2.jpg");
   background-repeat: no-repeat;
   color: rgba(241, 239, 239, 0.94);
   background-size: auto;


}
.bolder{
   font-weight: bold;
}

